.row
  .col-xs-7.col-md-offset-1
    %table.table.table-hover
      %thead
        %tr
          %th
            Criterion
          %th
            Value
        %tbody
          %tr
            %td
              %i domain
            %td Coptology, linguistics
          %tr
            %td
              %i topic
            %td Greek loanwords, particularly their orthographies
          %tr
            %td
              %i source
            %td
              = link_to 'DDGLC project', 'http://www.research.uni-leipzig.de/ddglc'
          %tr
            %td
              %i data
            %td categorization of orthographies based on the underlying Greek lemma, Coptic sublemma, as well as manuscript and text information
          %tr
            %td
              %i aims
            %td
              %ul.list-in-table.fa-ul
                %li
                  %i.fa-li.fa.fa-check-square-o
                  gain a clear view of orthographies
                %li
                  %i.fa-li.fa.fa-check-square-o
                  change of orthographies over time
  .col-xs-4
    = link_to image_tag('coptic.jpg', class: 'img-responsive'), 'https://commons.wikimedia.org/wiki/File:Coptic_Manuscript_MET_sf19-196-4a.jpg', target: '_blank'